@charset "UTF-8";

@font-face {
	font-family: "Gilroy ExtraBold";
	src: url(../fonts/gilroyextrabold.woff) format("woff"),
		 url(../fonts/gilroyextrabold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy Light";
	src: url(../fonts/gilroylight.woff) format("woff"),
		 url(../fonts/gilroylight.woff2) format("woff2");
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url(../fonts/opensans.woff) format("woff"),
		 url(../fonts/opensans.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans Light";
	src: url(../fonts/opensanslight.woff) format("woff"),
		 url(../fonts/opensanslight.woff2) format("woff2");
	font-weight: lighter;
	font-style: normal;
}

/* CSS Document */

html { 
	box-sizing: border-box; 
}

*, *::before, *::after { 
	box-sizing: inherit; 
}

body {
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 0;
	line-height: 1;
	font-family: "OpenSans Light", sans-serif;
}

/* header */

.header {
	position: relative;
	width: 1160px;
	margin: 40px auto 0 auto;
	background-color: #ffe294;
	color: #000000;
}

.header__logo {
	position: absolute;
	top: -24px;
	left: 57px;
	font-size: 48px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	font-family: "Gilroy ExtraBold", sans-serif;
	text-decoration: none;
	color: #000000;
}

	.header__logo:hover {
		color: #444444;
	}

	.header__logo:active {
		color: #666666;
	}

.header__content {
	padding: 34px 60px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.header__form {
	display: flex;
	margin: auto 0;
	width: 450px;
}

.header__form-input {
	border: 0;
	width: 355px;
	height: 45px;
	background-color: transparent;
	color: #000000;
	padding-left: 40px;
	opacity: 0.3;
	font-family: "OpenSans Light", sans-serif;
	font-size: 15px;
}

.header__form::before {
	content: "";
	position: absolute;
	top: 50px;
	left: 65px;
	width: 16px;
	height: 16px;
	background: url(../img/search.svg) no-repeat;
}

.header__form-button {
	display: none;
	width: 85px;
	height: 45px;
	border: 2px solid #000000;
	background-color: transparent;
	font-family: "OpenSans Light", sans-serif;
	font-size: 15px;
}

.header__form-input:hover {
	opacity: 0.6;
}

.header__form-input:focus {
	border-bottom: 2px solid #000000;
	opacity: 1;
	outline: 1px transparent;
}

.header__form-input:focus + .header__form-button {
	display: block;
}

.header__form-button:hover {
	display: block;
	background-color: #000000;
	color: #FFFFFF;
	cursor: pointer;
	outline: 1px transparent;
}

.header__form-button:active {
	display: block;
	background-color: #000000;
	color: #FFFFFF;
	opacity: 0.3;
	outline: 1px transparent;
}

.header__block {
	width: 50%;
	display: flex;
	align-items: center;
}

.header__user-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	font-size: 15px;
	width: 50%;
	padding-left: 46px;
}

.header__user-area-block a {
	display: flex;
	position: relative;
	align-items: center;
	margin-right: 50px;
}

.header__user-area-link {
	font-family: "OpenSans Light", sans-serif;
	font-size: 15px;
	color: #000000;
	text-decoration: none;
}

.header__user-area-link:hover {
	opacity: 0.6;
}

.header__user-area-link:focus {
	opacity: 0.3;
}

.header__user-area-link--login::before {
	content: "";
	position: absolute;
	top: 3px;
	left: -26px;
	width: 16px;
	height: 16px;
	background: url(../img/user.svg) no-repeat;
}

.header__user-area-link--compare {
	right: 10px;
}

.header__user-area-link--compare::before {
	content: "";
	position: absolute;
	top: 3px;
	left: -20px;
	width: 16px;
	height: 16px;
	background: url(../img/compare.svg) no-repeat;
}

.header__user-area-link--basket::before {
	content: "";
	position: absolute;
	top: 3px;
	left: -25px;
	width: 16px;
	height: 16px;
	background: url(../img/cart.svg) no-repeat;
}

.header__catalog-link {
	font-size: 18px;
	font-family: "Gilroy ExtraBold", sans-serif;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 3.6px;
	margin-top: 38px;
}

.header__catalog {
	display: none;
}

.header__catalog-link::after {
	content: "";
	position: absolute;
	top: 118px;
	left: 290px;
	width: 15px;
	height: 15px;
	background: url(../img/plus.svg) no-repeat;
	opacity: 0.3;
}

.header__catalog-link:hover {
	opacity: 0.6;
}

.header__catalog-link:hover+.header__catalog {
	display: block;
}

.header__catalog:hover {
	display: block;
}

.header__catalog-link:active {
	opacity: 0.3;
}

.header__catalog-rows {
	display: flex;
	position: absolute;
	left: 0;
	top: 160px;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 1160px;
	background-color: #ffe294;
}

.header__catalog-rows a {
	font-size: 15px;
	font-family: "OpenSans Light", sans-serif;
	font-weight: 300;
	font-height: 36px;
	letter-spacing: 0.15px;
	color: #000000;
	text-decoration: none;
	line-height: 35px;
	vertical-align: center;
}

.header__catalog-row {
	display: flex;
	flex-direction: column;
	margin-bottom: 35px;
}

.header__catalog-row:nth-child(1) {
	margin-left: 60px;
	margin-right: 60px;
}

.header__catalog-row:nth-child(2) {
	margin-right: 80px;
}

.header__services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 38px;
}

.header__services a {
	font-size: 18px;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "Gilroy ExtraBold", sans-serif;
	letter-spacing: 3.6px;
}

.header__services a:hover {
	opacity: 0.6;
}

.header__services a:active {
	opacity: 0.3;
}

.header__service-link--delivery {
	right: 5px;
	margin-left: 20px;
}

.header__service-link--garantee {
	margin-left: -70px;
}

/* main */



/* footer */

.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
    padding-top: 67px;
	padding-left: 140px;
	padding-right: 140px;
    padding-bottom: 79px;
	
    background-color: #464646;
}

.footer__logo {
	width: 50%;
	
	color: #ffc600;
	font-size: 48px;
	letter-spacing: 0.5px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Gilroy ExtraBold", sans-serif;
	
	margin-bottom: 40px;
}

.footer__user {
	width: 50%;
	
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	
	padding-top: 12px;
	margin-bottom: 40px;
}

.footer__user-link {
    color: #ffffff;
	opacity: 0.9;
	margin-left: 60px;
	
    font-size: 15px;
    font-family: "OpenSans Light", sans-serif;
	text-decoration: none;
}

	.footer__user-link--login::before {
		content: "";
		
		position: relative;
		z-index: 3;
		
		top: 4px;
		
		padding-right: 25px;
		
		width: 16px;
		height: 15px;
		
		background: url(../img/user-yellow.svg) no-repeat;
	}

	.footer__user-link--compare::before {
		content: "";
		
		position: relative;
		z-index: 2;
		
		top: 6px;
		
		padding-right: 25px;
		
		width: 16px;
		height: 16px;
		
		background: url(../img/compare-yellow.svg) no-repeat;
	}

	.footer__user-link--basket::before {
		content: "";
		
		position: relative;
		z-index: 1;
		
		top: 4px;
		
		padding-right: 25px;
		
		width: 16px;
		height: 16px;
		
		background: url(../img/cart-yellow.svg) no-repeat;
	}

.footer__address {
	width: 35%;
	
	color: #ffffff;
	
    font-size: 15px;
    font-family: "OpenSans Light", sans-serif;
	
	margin-bottom: 73px;
}

.footer__menu {
	width: 30%;
	
	display: flex;
	justify-content: center;
	
	margin-bottom: 73px;
}

.footer__menu-link {
    color: #ffffff;
	
	font-size: 18px;
    text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 4px;
	font-family: "Gilroy ExtraBold", sans-serif;
	
	margin-right: 39px;
}

.footer__phone {
	width: 35%;
	
	color: #ffffff;
	text-align: right;
    font-size: 15px;
    font-family: "OpenSans Light", sans-serif;
	
	margin-bottom: 73px;
}

.footer__yellow-block {
	width: 80px;
	height: 7px;
	
	background-color: #ffc600;
	
	margin-top: 10px;
}

.footer__social-network {
	display: flex;
}

.footer__social-network a {
	display: inline-block;
	
	font-size: 0;
}

.footer__social-network-list-item-link {
	width: 32px;
	height: 32px;
	
	opacity: 0.3;
	
	margin-right: 15px;
}

	.footer__social-network-list-item-link:nth-child(1) {
		background: url("../img/fb.svg") no-repeat;
	}

	.footer__social-network-list-item-link:nth-child(2) {
		background: url("../img/instagram.svg");
	}

	.footer__social-network-list-item-link:nth-child(3){
		background: url("../img/twitter.svg");
	}

.footer__social-network-link-htmlacademy {
	width: 27px;
	height: 34px;
	
	background: url(../img/logo-html.svg) no-repeat;
}

/* modal windows */

.modal-window-map {
	display: none;
}

.modal-window-write {
	display: none;
}

